In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../../datasets/first-study/processed_dataset.csv',index_col=0)
df.head()

,seconds,date,speed,hr,core_temperature,x,y,z,raw_rr,filtered_rr,difference_rr,hr_rmssd,activity_load_2d,activity_load_3d
0,1.003,2023-04-23 18:10:38.770,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.101,2023-04-23 18:10:38.770,NaN,NaN,NaN,-11.3313,-3.5219,-23.8975,NaN,NaN,NaN,NaN,NaN,NaN
2,1.104,2023-04-23 18:10:38.770,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.110,2023-04-23 18:10:38.770,NaN,NaN,NaN,-14.0875,-1.5312,-24.6631,NaN,NaN,NaN,NaN,NaN,NaN
4,1.120,2023-04-23 18:10:38.770,NaN,NaN,NaN,-12.0969,-0.7656,-25.5819,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
hr = df[['seconds','date','hr']]

In [8]:
hr = hr[hr['hr'].notnull()]

In [10]:
hr.to_csv('../../datasets/first-study/hr.csv')